<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="companyInfo" class="com.pk.info.CompanyInfo">
		<property name="empIdAndNameMap">
			<map>
				<entry key="1" value="PK"></entry>
				<entry key="2" value="DK"></entry>
				<entry key="3" value="SK"></entry>
			</map>
		</property>

		<property name="studentIdMap">
			<map>
				<entry key="100" value-ref="student1"></entry>
				<entry key="101" value-ref="student2"></entry>
			</map>
		</property>

	</bean>

	<bean id="student1" class="com.pk.model.Student">
		<property name="StudentId" value="100"></property>
		<property name="studentName" value="PK"></property>
		<property name="email" value="PK@GMAIL.COM"></property>
		<property name="gender" value="male"></property>
	</bean>
	<bean id="student2" class="com.pk.model.Student">
		<property name="StudentId" value="101"></property>
		<property name="studentName" value="DK"></property>
		<property name="email" value="DK@GMAIL.COM"></property>
		<property name="gender" value="male"></property>
	</bean>


</beans>